extends layout

block content
    .row
        .col-md-12.header
    .row
        .col-md-4.sender-list
        .col-md-8.mail-list

block scripts
    //- LIBRARIES
    script(src='/bower_components/underscore/underscore.js')
    script(src='/bower_components/backbone/backbone.js')
    script(src='/bower_components/handlebars/handlebars.js')

    //- FRAMEWORK
    script(src='/bower_components/jquery/dist/jquery.js')

    //- APP
    script(src='/js/index.js')
