extends layout
block content
    table
        tr
            th From
            th Subject
        each message in messages
            tr(class=message.seen ? 'seen' : '')
                td= message.from.name
                td 
                    a(href='/email/' + message.uid)= message.subject
