extends layout
block content
    span= messages.length
    table
        tr
            th From
            th Subject
        each message in messages
            tr(class=message.seen ? 'seen' : '')
                td= message.from.name
                td 
                    a(href='/email/' + message.UID)= message.title
